classes/
.idea/
build/
.gradle/
.project
.settings/
.classpath




*.iws
*.iml
*.ipr

libraries/classes/
libraries/.idea/
libraries/build/
libraries/bin/

client/classes/
client/.idea/
client/build/
client/bin/

server/classes/
server/.idea/
server/build/
server/bin/